/* --=============================  全站共用 CSS 開始==============================-- */

.body{
    box-sizing: border-box;
    font-family:'Noto Sans TC', sans-serif,微軟正黑體,Arial, Helvetica, sans-serif;
    margin: 0 auto;   
}


h1,h2,h3,h4,h5,h6,p,blockquote,form,fieldset,a,li,form{
    font-family:'Noto Sans TC', sans-serif,微軟正黑體,Arial, Helvetica, sans-serif;   
    margin:0;}
h1{font-size:2.25rem;}   /*36px*/
h2{font-size:2rem;}      /*32px*/
h3{font-size:1.5rem;}    /*24px*/
h4{font-size:1.375rem;}  /*22px*/
h5{font-size:1.125rem;}  /*18px*/
h6{font-size:1rem;}      /*16px*/ 
p{font-size:0.875rem;}   /*14px*/
 
.webcontainer{
    max-width: 1024px;
    margin: 0 auto;
}


/* ------- 麵包屑 -------- */
.npd-bread{
    padding-bottom: 30px;  
  }
  
.npd-bread a{
    font-size: 15px;
    font-weight: 100;
    color: #AFAFAF;
  }
.npd-bread a:hover{
    color: #043f98 ;
  }
  
@media screen and (max-width:375px) {
.npd-bread a{
    max-width: 345px;
    overflow: hidden;
    }
      }
/* -----  愛心收藏  ----- */
.priceNheart{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cls-1 {
    fill: none;
    stroke: #afafaf;
    stroke-miterlimit: 10;
}
/* --=============================  按鈕  CSS 開始==============================-- */
/* -------------btn1.2  藍白按鈕共用--------------  */
.btns{
    padding:0 25px;
    height: 40px;
    line-height: 2.5rem;
    border-radius:30px;
    display:inline-block;
    font-size: 1rem;
    font-family:'Noto Sans TC', sans-serif,微軟正黑體,Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 1px solid #043f98;
    text-decoration: none !important;
        }
/*----------  一般商品頁結帳共用  -----------------*/
    .btns2-npd{
        width: 30%;     /*手機板RWD要改成25%*/
        text-align: center;
        }
/* -------  btn1.2  藍白按鈕共用 結束  ------ ---- */



/* ------  btn1 藍色按鈕(杜)  ------  */
.btn-blue{
    background:#043f98;
    color: white;
        }
.btn-blue:hover{                                    /*佳文加*/
    background:white;
    color: #043f98;
        }
/* -----  btn2 白色按鈕(杜)  --------  */
.btn-white {
    background:white;
    color: #043f98;
        }
.btn-white:hover {
    background:#043f98;
    color: white;
        }        
/* ----  btn3 藍色按鈕(佳)    -------  */
.btn-blue{
    background:#043f98;
    color: white;
        }
/* -----  btn4 白色按鈕(佳)   ---------  */
.btn-white {
    background:white;
    color: #043f98;
        }

/* ------------  錨點按鈕  -------------- */
.npd-fixedbtn{
    width: 30px;
    height: auto;
    position: absolute;
    position: fixed;
    bottom: 20px;
    right: 10px;
    transition: 0.5s;
    z-index: 98;
  }
.npd-fixedbtn:hover{
    transform: scale(1.1);
}
.npd-fixedbtn2{
    width: 30px;
    height: auto;
    position: absolute;
    position: fixed;
    bottom: 60px;
    right: 10px;
    transition: 0.5s;
    z-index: 98;
    cursor: pointer;
  }
.npd-fixedbtn2:hover{
    transform: scale(1.1);
}

/* --=============================  按鈕  CSS end==============================-- */





/* --=============================  header  CSS 開始 ==============================-- */

/* -----header框架(開始)----- */
header{
            width: 100%;
            position: fixed;
            top:0;
            background-color: #ffffff;
            z-index: 99;
            box-shadow: 0px 3px 6px  rgba(110, 110, 110, 0.267);
        }

        .headerContainer {
            margin: 0 auto;
            max-width: 1024px;
            width: 100%;
            height: 60px;
             display: flex;
            align-items: center;
            justify-content: space-between;
        }
         /* -----header框架(結束)----- */



        /* -----左側LOGO + 搜尋bar樣式(開始)----- */
        .header-img {
            height: 20px;
            margin: 0 0 0 30px;
        }

        .icon-search{
            margin: 0;
        }

        .header-logo {
            height: 30px;
            margin: 0 58px 0 0 ;
        }

        .search-content,
        .search-btn {
            height: 28px;
            border: none;
            background-color: transparent;
        }

        .search-content {
            width: 280px;
            border-bottom: 1px solid #043F98;
        }

        ::placeholder{
        color: #afafaf;
        font-family:'Noto Sans TC', sans-serif,微軟正黑體,Arial, Helvetica, sans-serif;
        }


        .fas {
            font-size: 1.25rem;
            color: #043F98;
        }
        /* -----左側LOGO + 搜尋bar樣式(結束)----- */




         /* -----右側icon(開始)----- */
        .header-grop,.header-icon-group{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


         /* -----右側icon(結束)----- */




         /* -----menu-內容(開始)----- */
        #sidebarMenu {
            height: calc(100vh - 60px);
            position: fixed;
            right: 0;
            top:62px;
            width: 375px;
            transform: translateX(375px);
            transition: transform 250ms ease-in-out;
            background:rgb(255, 255, 255);
            box-shadow: 0px 3px 6px  rgba(110, 110, 110, 0.267);
            
        }

        .sidebarMenuInner{
            padding: 0;
            margin: 0;
        }

        .sidebarMenuInner-li {
            margin: 50px 20px;
            list-style: none;
            text-align: center;
            text-transform: uppercase;
            /* font-weight: bold; */
            cursor: pointer;
            text-decoration: none;
            text-transform: uppercase;
        }

        .sidebarMenuInner-a{
            font-size: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            color: #043F98;
            align-items: center;
        }

        .sidebarMenu-icon{
            height: 14px;
            margin: 0 15px;
        }

        .socialSoftware-icon-group{
            /* background-color: rgb(120, 120, 141); */
            display: flex;
            justify-content: center;
            position:absolute;
            bottom: 5%;
            width: 100%;
            
        }

        .socialSoftware-icon{
            height: 25px;
            margin: 0 10px;
            
        }

        /* -----menu-內容(結束)----- */

    
        
        /* -----menu-icon外觀(開始)----- */

        .sidebarIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            cursor: pointer;
            z-index: 99;
            width: 100%;
            margin: 0 0 0 30px;
            top: 22px;
            width: 22px;
        }

        .spinner {
            transition: all 0.3s;
            box-sizing: border-box;
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: #043F98;
        }

        .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }

        .diagonal.part-1 {
            position: relative;
            transition: all 0.3s;
            box-sizing: border-box;
            float: left;
        }

        .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }


        header input[type="checkbox"]:checked~#sidebarMenu {
            transform: translateX(0);
        }

        header input[type=checkbox] {
            transition: all 0.3s;
            box-sizing: border-box;
            display: none;
        }

        /* -----menu-icon外觀(結束)----- */




        /* -----menu-icon交叉動態(開始)----- */
        header input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            opacity: 0;
        }

        header input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(135deg);
            margin-top: 8px;
        }

        header input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(-135deg);
            margin-top: -9px;
        }

        /* -----menu-icon交叉動態(結束)----- */



        /* --------RWD(開始)-------*/

        @media screen and (max-width:1024px){
            .headerContainer{
                padding: 0 15px;          /*佳文改*/

            }
        
.header-logo {
                margin: 0;
             }
        }

@media screen and (max-width:768px){
            .search-content,.search-btn{
                display: none;
            }
        }
        /* --------RWD(結束)-------*/
/* --=============================  header  CSS 結束 ==============================-- */





/* --=============================  footer  CSS 開始 ==============================-- */
.webcontainer3{
    padding-top: 100px;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    height: auto;                               /*佳文改*/
}


/* --------海浪-------*/
.svg-kv-wave{
    width: 100%;
    position: absolute;
    top:0px;
}

/* --------footer內容-------*/

footer,.copyright {
    background-image: url(../img/bg.png);
}

.footer-container{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    padding: 170px 0 98px 0;
    
}

footer {
    position: relative;
    border-bottom: 1px solid #AFAFAF;
}

.copyright {
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.copyright-p {
    margin: 0 auto;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;

}

.footer-logo {
    height: 82px;
}

.social-software,
.web-map-aboutus,
.web-map-info {
    /* margin: 0 125px 0 0; */
    margin: 0 ;
}


.service-info {
    margin: 0 0 0 0;
}

.social-software {
    text-align: center;
    align-items: center;
    position: relative;
}

.social-software-p {
    color: #043F98;
    font-size: 1.1250rem;
    margin: 22px 0 0 0;
}


.footer-icon-img {
    height: 40px;
    margin: 40px 22px;
    transition: 0.3s;
}
.footer-icon-img:hover{
    transform: scale(1.1);
}

.icon-phone-img {
    height: 28px;
    margin: 0;
}

.web-map,
.web-map-a {
    display: flex;
    color: #3F464D;
}

.web-map-p {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 65px 0 0;
}

.web-map-a {
    font-size: 0.875rem;
    margin: 23px 0 0 0;
}

.web-map-a:hover{
    text-decoration: none;
    color: #7AC943;
}

.web-map-aboutus{
    margin: 0 80px 0 0;
}

.web-map-aboutus,
.web-map-info {
    display: flex;
    flex-direction: column;
}

.service-info-p1,
.service-info-p2,
.service-info-p3 {
    color: #043F98;
    font-size: 1rem;
}

.service-info-p1 {
    margin: 72px 0 0 0;
}

.service-info-p2 {
    margin: 20px 0 0 0;
}

.service-info-p3 {
    font-size: 1.5rem;
    margin: 20px 0 25px 0;
}

.service-info-p4 {
    color: #777777;
    font-size: 0.875rem;
}



/* --------RWD(開始)-------*/

@media screen and (max-width:768px){

    .svg-kv-wave{
        width: 100%;
        height: 10%;
    }
    

    .footer-container{
        flex-direction: column;
        align-items: center;
        padding: 190px 0px 50px ;
    }

    .social-software,.web-map,.web-map-info{
        margin: 0 auto;
    }

    .footer-icon-img {
        margin: 40px 20px;
    }
 

   .web-map-aboutus{
        margin: 0 20px 0 0;
    }
    
    .service-info-p3,.service-info-p4,.copyright-p {
        text-align: center;
    }
   
    .web-map-p{
        margin: 40px 0 0 0;
    }

    .copyright {
        margin: 0;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 ;
    }

}

/* --------RWD(結束)-------*/



/* --=============================  footer  CSS 結束 ==============================-- */
